/* body {
  background-color: #000;
} */

.agcoursesbox {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-align: start;
  -ms-flex-align: start; */
  align-items: center;
  justify-content: center;
  /* -ms-flex-wrap: wrap; */
  flex-wrap: wrap;
  padding: 50px 0;
  background-color: black;
}
.agcourses_item {
  /* -ms-flex-preferred-size: calc(33.33333% - 30px); */
  /* flex-basis: calc(33.33333% - 30px); */
  width: 300px;
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
  
}
.agcoursesitem_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.agcoursesitem_link:hover,
.agcoursesitem_link:hover .agcoursesitem_date {
  text-decoration: none;
  color: #fff;
}
.agcoursesitem_link:hover .agcoursesitem_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.agcoursesitem_title {
  min-width: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 20px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.agcoursesitem_datebox {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.agcoursesitem_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.agcoursesitem_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.agcourses_item:nth-child(2n) .agcoursesitem_bg {
  background-color: #3ecd5e;
}
.agcourses_item:nth-child(3n) .agcoursesitem_bg {
  background-color: #e44002;
}
.agcourses_item:nth-child(4n) .agcoursesitem_bg {
  background-color: #952aff;
}
.agcourses_item:nth-child(5n) .agcoursesitem_bg {
  background-color: #cd3e94;
}
.agcourses_item:nth-child(6n) .agcoursesitem_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}
